.landingPage {
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    gap: 1rem;
}

.intro {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex: 0.7;
}

.textBoxTodo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.lsDiv {
    flex: 0.3;
}

.intro>div>p {
    font-weight: 600;
    font-size: 8rem;
    color: dodgerblue;
}