.TodoComponent {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  flex-direction: column;
}
.heading,
.form {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
.form * {
  margin: 1rem;
}
.inputText,
.btn {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  width: 70%;
  background-color: transparent;
  color: var(--input-placeholder);
}
.inputText {
  margin-top: 2.5rem;
  border-bottom: 1px solid var(--input-placeholder);
}
.btn {
  width: 20%;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
}


.inputText::placeholder {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--input-placeholder);
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }
  
  .TodoComponent {
    text-align: center;
  }


.inputText:focus-visible {
  border-bottom: 1px solid var(--primary-color);
}

.content {
  position: relative;
  width: 95%;
}

.content h1 {
  font-size: 3rem;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}

.content h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px dodgerblue;
}

.content h1:nth-child(2) {
  color: dodgerblue;
  animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@media only screen and (max-width: 768px) {
  .TodoComponent {
    margin-top: 5rem;
  }
  .form {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .btn {
    width: 80%;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

li {
  margin-top: 0.8rem;
  font-size: 1.5rem;
  border-left: 10px solid var(--primary-color);
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  background-color: var(--card-bg-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 230px;
  gap: 1rem;
  word-wrap: break-word;
}

.dltBtn,
.updbtn {
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background-color: tomato;
  color: var(--text-color);
  width: fit-content;
  padding: 0.2rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-size: 0.8rem;
}
.dltBtn:hover {
  background-color: rgba(248, 5, 5, 0.979);
}
.updbtn {
  background-color: dodgerblue;
}
.updbtn:hover {
  background-color: rgb(9, 129, 250);
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.listItem > p {
  font-size: 0.8rem;
}
.btncont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
