.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    height:10vh;
}
.logo,.itemContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 2rem;
}
.itemContainer{
    width: 100%;
    display: flex;
    justify-content: end;

}
.chipbtn{
    padding: 0.1rem 0.9rem;
    color: var(--text-color);
    border: 1px solid var( --primary-color);
    background-color: var(--bg-color);

    border-radius: 1rem;
}
a{
    text-decoration: none;
}